<h1>@Header</h1>

<p>I am from the blazor project. You clicked the button this many times: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Parameter]
    public string Header { get; set; } = "default header";

    private void IncrementCount()
    {
        currentCount++;
    }
}
